/*LAYOUT*/
body {
  background-color: #CFCFCF;
}

.menu-principal {
  border-bottom: 4px solid var(--marrom);
  background: linear-gradient(to bottom, #E9B217, #CFCFCF);
  margin: 0;
  height: auto;
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#menu-check:checked+nav {
  height: 400px;
}

#menu-check {
  display: none;
}

.bt-menu {
  display: block;
  width: auto;
  cursor: pointer;
}

.bt-menu img {
  width: auto;
  height: 100px;
}

.menu-principal nav menu {
  display: flex;
  flex-direction: column;
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-principal menu li {
  padding: 10px;
  margin-bottom: 20px;
  text-align: center;
  border-bottom: 1px solid black;
}

.menu-principal nav {
  height: 0;
  overflow: hidden;
  transition: all 1s ease;
  grid-column: 1/3;
}

.menu-principal .logo img {
  width: auto;
  height: 400px;
}

nav menu li a {
  color: black;
  font-weight: bold;
  font-size: 56px;
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
  font-family: 'Roboto', sans-serif;
}

/*Items*/
.objetos {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.items img {
  display: block;
  width: 400px;
  height: auto;
  aspect-ratio: 1 / 1;
  object-fit: cover;
  margin: 0 auto;

}

.objetos > img{
  height: 450px;
  margin-bottom: 0;
}

.objetos p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-size: 46px;
}

.objetos div {
  border-bottom: 1px solid black;
  margin-top: 10px;
  margin-bottom: 2px;
}

h2 {
  font-size: 56px;
  font-family: 'Roboto', sans-serif;
  margin-top: 0;
  text-align: center;
}

.objetos > .objeto-1 {
  margin-top: 5px;
  margin-bottom: 0;
}

.objetos > .objeto-2{
  width: auto;
  height: 250px;
  margin-top: 50PX;
}