@media (max-width: 647px) {
    /*LAYOUT*/
    .menu-principal {
        border-bottom: 4px solid var(--marrom);
        background: linear-gradient(to bottom, #E9B217, #CFCFCF);
        margin: 0;
        height: auto;
        width: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #menu-check:checked+nav {
        height: 350px;
    }

    #menu-check {
        display: none;
    }

    .bt-menu {
        display: block;
        
        cursor: pointer;
    }

    .menu-principal nav menu {
        display: flex;
        flex-direction: column;
        text-align: center;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .menu-principal menu li {
        padding: 10px;
        margin-bottom: 20px;
        text-align: center;
        border-bottom: 1px solid black;
    }

    .menu-principal nav{
        height: 0;
        overflow: hidden;
        transition: all 1s ease;
        grid-column: 1/3;
    }

    .menu-principal .logo img{
        width: auto;
        height: 151px;
    }
  
    /*chamada*/
    .chamada  {
        height: 500px;
        width: auto;
        color: var(--branco);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        display: block; /*Dislplay Block não permite que os elementos "estorem" o seletor pai*/
    }

    .chamada img {
        height: 150px;
        width: auto;
    }

    /*Cardapio*/
    .cardapio-items {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Delivery*/
    .delivery-conteudo {
        display: flex;
        flex-direction: column;
        padding-left: 6px;
        padding-right: 6px;
    }

    .items-rodape {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    /*Rodapé*/
    footer h4, footer h5, footer li{
        text-align: center;
    }


    .btn{
        width: auto;
        height: 50px;
    }

}